<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css"  data-th-href="@{/layui/css/layui.css}">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-lg-offset3">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">账号密码登录</li>
                    <li >手机号码登录</li>
                </ul>
                <div class="layui-tab-content" >
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form" data-th-action="@{/authentication/form}" method="post">
                            <!--<div class="layui-form-item layui-form-pane">
                                <label class="layui-form-label">选择语言</label>
                                <div class="layui-input-block">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="2">简体中文</option>
                                        <option value="0">英文</option>
                                        <option value="1" selected="">繁体中文</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="layui-form-item layui-form-pane">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-pane">
                            <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <!--<div class="layui-form-item layui-form-pane">
                                <label class="layui-form-label">验证码</label>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入图形验证码" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <img src="">
                                    </div>
                                </div>
                            </div>-->
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">登录</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <form class="layui-form" action="">
                            <!--<div class="layui-form-item layui-form-pane">
                                <label class="layui-form-label">选择语言</label>
                                <div class="layui-input-block">
                                    <select name="interest" lay-filter="aihao">
                                        <option value="2">简体中文</option>
                                        <option value="0">英文</option>
                                        <option value="1" selected="">繁体中文</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="layui-form-item layui-form-pane">
                                <label class="layui-form-label">手机号码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入手机号码" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-pane">
                                <label class="layui-form-label">验证码</label>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="tel" name="smscode" lay-verify="required"  placeholder="请输入手机验证码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid" style="padding: 0px !important;"><button type="button" class="layui-btn" lay-submit="" lay-filter="demo1">发送验证码</button></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">登录</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script data-th-src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.use(['form', 'laydate', 'element'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,element = layui.element;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //监听提交
        // form.on('submit(demo1)', function(data){
        //     layer.alert(JSON.stringify(data.field), {
        //         title: '最终的提交信息'
        //     })
        //     return false;
        // });

    });
</script>

</body>
</html>